body {
  font-family: Ubuntu,Arial,sans-serif;
  padding: 0;
  margin: 0; }

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto; }

.b-header {
  height: 112px;
  position: relative; }
  .b-header .logo {
    width: 158px;
    height: 23px;
    color: #434343;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 36px; }
  .b-header ul {
    position: absolute;
    float: right;
    margin-top: -12px;
    margin-bottom: 50px;
    padding-left: 72%; }
    .b-header ul li {
      float: left;
      margin-right: 35px;
      width: 8px;
      height: 16px; }

/*nav bar*/
.navbar-horizontal {
  position: relative;
  height: 56px;
  background-color: #2a2d32; }
  .navbar-horizontal .nav {
    width: 580px; }
    .navbar-horizontal .nav ul {
      height: 56px; }
    .navbar-horizontal .nav li {
      float: left;
      width: 114px;
      height: 56px;
      display: inline-block; }
    .navbar-horizontal .nav li:hover {
      background-color: #248cec;
      border-right: 2px solid black;
      border-left: 2px solid black; }
    .navbar-horizontal .nav a:hover {
      color: #f4b60d; }
    .navbar-horizontal .nav a {
      display: block;
      text-decoration: none;
      width: 32px;
      height: 56px;
      color: #ffffff;
      font-family: "Ubuntu Condensed";
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
      padding-left: 41px;
      margin-top: 20px; }
    .navbar-horizontal .nav .nav__text1 {
      position: absolute;
      margin-left: -18px; }
    .navbar-horizontal .nav .nav__text2 {
      position: absolute;
      margin-left: -18px; }
  .navbar-horizontal input {
    position: absolute;
    float: right;
    margin-top: -51px;
    margin-left: 78.5%;
    width: 241px;
    height: 40px;
    border: 1px solid #181a1d;
    background-color: rgba(255, 255, 255, 0.05); }

/*nav bar*/
/*slick*/
.sl {
  margin-top: 50px; }

/*slick*/
/*wraper*/
.wraper {
  height: 330px;
  position: relative; }
  .wraper .wraper__text, .wraper .wraper__text1, .wraper .wraper__text2 {
    float: left;
    width: 33.333333333333336%;
    margin-top: 70px; }
    .wraper .wraper__text p, .wraper .wraper__text1 p, .wraper .wraper__text2 p {
      width: 237px;
      height: 53px;
      color: #8a8a8a;
      font-family: Arial;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      margin-left: 100px;
      margin-top: 18px;
      margin-bottom: 80px; }
    .wraper .wraper__text h1, .wraper .wraper__text1 h1, .wraper .wraper__text2 h1 {
      margin-left: 100px;
      margin-top: 18px; }
    .wraper .wraper__text a, .wraper .wraper__text1 a, .wraper .wraper__text2 a {
      margin-left: 100px;
      width: 65px;
      height: 11px;
      color: #2a2b2e;
      font-family: Ubuntu;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;
      text-decoration: none; }
      .wraper .wraper__text a img, .wraper .wraper__text1 a img, .wraper .wraper__text2 a img {
        margin-left: 8px; }
  .wraper .wraper__text2 {
    padding-top: 10px; }

/*wraper*/
/*blok*/
article {
  height: 500px;
  background-color: #2a2d32; }
  article a {
    width: 204px;
    height: 260px;
    float: left;
    margin-left: 62px;
    margin-top: 10%;
    text-decoration: none; }
    article a img {
      width: 204px;
      height: 204px; }
    article a figcaption {
      width: 161px;
      height: 13px;
      color: #ffffff;
      font-family: Ubuntu;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      margin-left: 18%;
      margin-top: 2%; }
  article figcaption:hover {
    color: #aa8414; }

/*blok*/
/*text_article*/
.text {
  height: 545px;
  background-color: #f7f7f7; }

/*text_article*/
/*info*/
.info {
  height: 547px;
  position: relative; }
  .info .info__1 {
    height: 547px;
    width: 50%;
    float: left; }
  .info .info__2 {
    height: 547px;
    width: 50%;
    background-color: green;
    float: right; }
  .info .news {
    width: 100%;
    height: 50%;
    margin-top: 3%; }
  .info .powerful {
    width: 100%;
    height: 50%; }
  .info h1 {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    margin-left: 2%; }
  .info .news__img1 img {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 3%; }
  .info .news__img3 img {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 3%; }
  .info .fs .fs1 {
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px; }
  .info .news__img5 {
    width: 40px;
    height: 80px;
    position: absolute;
    margin-top: -5%;
    margin-left: -1%; }

/*info*/
/*accordion*/
/*accordion**/
